.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar{
  
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.article-container {
    display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 10vh;
}

.content-container {
    flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.thumbnail-container {
    width: 500px;
    height: 300px;
    overflow: 'hidden';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
  }
  
  .thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pagination-container {
    margin-bottom: 20px; 
  }
  
  .article {
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* 그림자 효과 */
    padding: 0px 16px 24px 16px;
    margin-bottom: 16px; 
  }
  
  .link-no-decoration {
    text-decoration: none;
    color: inherit;
  }
  
  .article-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .article-header h5{
    padding: 6px 12px;
    border-radius: 15px;
    background-color: #2b2b2b; 
    color: #ffffff; 
    text-align: center;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  
  .public-status, .private-status {
    display: inline;
    padding: 2px 6px;
    border: 1px solid #000;
    border-radius: 13px;
    display: flex;
    text-align: center;
    height: 25px;
  }

  .private-status{
    border-color: rgb(222, 0, 0);
    color: rgba(222, 0, 0);
  }
  
  
  .folder-name {
    font-size: 15px; 
  }
  
  
  
  