.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar {
    width:30vh;
}

.article-content {
    display: flex;
    align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 10vh;
  flex-direction: column;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.article-folder h5{
    padding-top: 0.4em;
    padding-right: 0.8em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    border-radius: 1em;
    background-color: #484848; 
    color: #ffffff; 
}

.article-body {
    margin-top: 20px; 
    width: 40%;
}

.article-actions {
    margin-top: 20px; 
}

.article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 10vh;
    flex-direction: column;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
}
