.folder {
    cursor: pointer;
  }

  .folder p {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  .folder .toggle {
    cursor: pointer;
    font-size: 20px;
    background-color: white;
  }
  
  .folder .name {
    font-size: 15px;
    color: #2b2b2b; 
  }

  